apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}-v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
      version: v1
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
        version: v1
    spec:
      containers:
        - name: {{ .Values.app.name }}
          image: {{ .Values.image.name }}:v1
          ports:
            - containerPort: {{ .Values.service.port }}
