apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: {{ .Values.appName }}-dr
spec:
  host: {{ .Values.appName }}
  subsets:
    - name: v1
      labels:
        version: v1
    - name: v2
      labels:
        version: v2